package components

templ TextInput(name string) {
	<div>
		TODO: normal text input
	</div>
}

templ TextInputInvalid(label, name string, error_message string) {
	<div>
		TODO: invalid text input with message: {error_message}
	</div>
}
