package components

templ Navbar() {
	<div class="w-full bg-cyan-700">
		<nav class="flex flex-wrap items-center mx-12 p-4">
			<a class="text-white text-2xl font-bold target:shadow-lg shadow-black px-4" href="/">Music Guide</a>
			<span class="flex flex-row w-auto justify-items-start">
				// <a id="intervals" class="nav-link" href="/intervals">Interval Calculator</a>
				// Dropdown intervals menu
				<div class="" x-data="{ open: false }">
					<button x-on:click="open = ! open" id="intervals" class="nav-link" href="">Intervals</button>
					<div x-show="open" class="bg-red-600 border border-gray-800 rounded-md">
						Toggle test
					</div>
				</div>
				<a id="circle" class="nav-link" href="/circle">Circle of Fifths</a>
			</span>
		</nav>
	</div>
}
