{{template "header"}}

<div class="container max-w-fit mx-auto">
	<div class="my-3 px-12 bg-slate-700 shadow-xl rounded-lg">

		<h1 class="h-10 text-slate-100 text-lg pl-6 pt-6">Interval Calculator</h1>
		<form class="p-6" hx-post="/intervals" hx-swap="outerHTML" hx-target="#result">
			<div class="flex space-x-4 mb-3">
				<input class="text-input" id="pitch1" type="text" name="pitch1" placeholder="Note 1">
				<input class="text-input" id="pitch2" type="text" name="pitch2" placeholder="Note 2">
			</div>

			<button class="btn-primary" type="submit">
				Get interval
			</button>
		</form>
	</div>

	<div id="result"></div>

</div>

{{template "footer"}}

{{define "intervalResult"}}
<div id="result" class="h-12 pl-6 rounded-lg shadow-xl bg-slate-300 text-gray-800">
	<div class="flex h-full w-fit">
		<div class="pl-12 my-auto font-bold">({{.Distance}}) {{.String}}</div>
	</div>
</div>
{{end}}
